<%=# stylesheet_link_tag "spree/frontend/slider/bootstrap" 
%>
<%=# stylesheet_link_tag "spree/frontend/slider/bootstrap-responsive"
 %>
<%=# stylesheet_link_tag "spree/frontend/slider/theme" 
%>
<%=# stylesheet_link_tag "spree/frontend/slider/styles"
%>
<%= #stylesheet_link_tag "spree/frontend/slider/prism" 
%>
<%= #stylesheet_link_tag "spree/frontend/slider/prism" 
%>
<%= #stylesheet_link_tag "spree/frontend/slider/threesixty.css" 
%>

<%= javascript_include_tag "spree/frontend/slider/modernizr.custom.66977" %>

<%= javascript_include_tag "spree/frontend/slider/jquery-1.8.3.min" %>
<%= javascript_include_tag "spree/frontend/slider/threesixty" %>
<%= javascript_include_tag "spree/frontend/slider/prism" %>
<%= javascript_include_tag "spree/frontend/car" %>




<iframe src="http://ghbtns.com/github-btn.html?user=creativeaura&amp;type=follow&amp;count=true&amp;size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="270" height="30" class="github_follow"></iframe>
<section class="container-fluid" id="container">
  <div class="threesixty product1">
    <div class="spinner">
      <span>0%</span>
    </div>
    <ol class="threesixty_images"></ol>
  </div>
</section>


